<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body style="background-color:grey;">
<center>
    <br><h1> Movie Review Sentiment Classifier  </h1>
    <br>
    <form action ='/check1' method="Post">
        <br><big>Your Review</big> : <input type="text" size ="50" style="height:25px;font-size:12pt;" name="review"><br><br><br>
        <input type="submit" value=" AFINN Word classifier "> &nbsp
	<input type="submit" value=" Bag of word with multinomial naive bayes " formaction='/check2'> &nbsp
	<input type="submit" value=" LSTM-rnn " formaction='/check3'>
    </form>
</center>
</body>
</html>