<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<br>
&nbsp
 <h3> Your Movie Review :</h3>
<br>
    <div style="background-color:lightblue">
        {{review}}
    </div>
<br>
&nbsp
 <h3>Prediction : </h3>
<br>
<div style="background-color:lightyellow"> <big> {{prediction}} </big>
 with {{data}} by classifier being {{probability}}.
</div>
<br><br>
<form action="\" >
    <input type="submit" value="Check another review">
</form>

</body>
</html>